/.ipynb_checkpoints
/.vscode
/all_calibration11.png
/all_calibration2.png
/all_calibration4.png
/all_calibration6.png
/all_calibration8.png
/Further Experiments.txt
/GPy Classification example.ipynb
/noisy_calibration.png
/pytorch-data
/test.py
/toy_example.png
/toy_uncertainty.png
/unaltered_calibration.png
/uncertainty_trainset.png
/X_fgm_100_binary.csv
/X_fgm_100_images.pt
/X_fgm_10_binary.csv
/X_fgm_10_images.pt
/X_fgm_25_binary.csv
/X_fgm_25_images.pt
/X_fgm_50_binary.csv
/X_fgm_50_images.pt
/X_motion_blur_binary.csv
/X_orig_binary.csv
/X_pgd_100_binary.csv
/X_pgd_100_images.pt
/X_pgd_10_binary.csv
/X_pgd_10_images.pt
/X_pgd_25_binary.csv
/X_pgd_25_images.pt
/X_pgd_50_binary.csv
/X_pgd_50_images.pt
/X_reduced_contrast_binary.csv
/X_test_binary.csv
/X_white_noise_binary.csv
/Y_fgm_100_binary.csv
/Y_fgm_10_binary.csv
/Y_fgm_25_binary.csv
/Y_fgm_50_binary.csv
/Y_motion_blur_binary.csv
/Y_orig_binary.csv
/Y_pgd_100_binary.csv
/Y_pgd_10_binary.csv
/Y_pgd_25_binary.csv
/Y_pgd_50_binary.csv
/Y_reduced_contrast_binary.csv
/Y_test_bin.csv
/Y_test_binary.csv
/Y_white_noise_binary.csv